{% extends 'registration/base.html' %}
{% block content %}

 {% if validlink %}
 	<div class="form-card-body login-card-body">
 		<p class="login-box-msg">change password</p>
 		<form method="post">
 			{% csrf_token %}
 			{% for field in form %}
 			<div class="form-group">
 				{{ field.errors }}
 				{{ field.label_tag }}
 				<input type="password"id="{{ field.id_for_label }}" name="{{ field.html_name}}" class="form-control">
 			</div>
 		{% endfor %}
 			<button type="submit" class="btn btn-success btn-block">change password</button>
 		</form>
 	</div>
 {% else %}
 	<p>the password link has expired or invalid</p>
 {% endif %}
{% endblock content %}