<div class="sidebar">
		<div class="sidebar-brand">
			<h2><span class="icon"><i class="fab fa-accusoft"></i></span>
            <span class="title">SHEMKO</span></h2>
        </div>
        <div class="sidebar-menu">
        	<ul>
        		<li class="sidebar-link  ">
                    {% url 'student_home' as student_home %}
        			<a href="{% url 'student_home'%}" class="{% if request.path == student_home %} sidebar-active {% endif %}">
        				<span class="icon"><i class="fas fa-home"></i></span>
   	 				    <span class="title">Dashboard</span>
        			</a>
        		</li>
        		<li class="sidebar-link">
                    {% url 'student_view_attendance' as student_view_attendance %}
        			<a href="{% url 'student_view_attendance'%}" class="{% if request.path == student_view_attendance %} sidebar-active {% endif %}">
        				<span class="icon"><i class="fas fa-home"></i></span>
   	 				    <span class="title">view attendance</span>
        			</a>
        		</li>
        		<li class="sidebar-link  " data-target='#HOME'>
                    {% url 'student_apply_leave' as student_apply_leave %}
                    <a href="{% url 'student_apply_leave'%}" class="{% if request.path == student_apply_leave%} sidebar-active {% endif %}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">apply leave</span>
                    </a>
                </li>
                <li class="sidebar-link ">
                    {% url 'student_feedback' as student_feedback %}
                    <a href="{% url 'student_feedback' %}" class="{% if request.path == student_feedback %} sidebar-active {% endif %}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Feedback</span>
                    </a>
                </li>
        		<li class="sidebar-link" data-target='#TIMETABLE'>
        			<a href="#TIMETABLE" id="leave"onclick="leave()">
        				<span class="icon"><i class="fas fa-home"></i></span>
   	 				    <span class="title"> Timetable</span>
        			</a>
        		</li>

        	</ul>
        </div>
</div>