{% extends "AdminHodTemplates/base_template.html" %}

{% block main_content %}

<div class="main" data-content id="">
 <div class="card-header">
  {% block page_title %}
  Edit meetingTime details| meetingTime: {{ meetingTime.meetingTime}} |#ID :{{meetingTime.id}}
  {% endblock page_title %}
  <div class="">
     <a href="/Meeting_Time" >manage subject</a>
     <a href="/admin_home" >home</a>
  </div>
</div>
<div class="card">
    <div class="card-header"> add subject </div>
    <form class="card-body" role="form" action="/EditMeetingTime_save" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="meeting_time">meeting time</label>
            <input class="form-control" type="text" name="meeting_time" value="{{ meetingTime.meeting_time_time }}">
            
        </div>
        <div class="form-group">
            <label for="meeting_time">meeting time</label>
            <select class="form-control" name="meeting_time">
              <option value="{{ meetingTime.meeting_time_time}}" >{{ meetingTime.meeting_time }}</option>
            </select>
            <input  type="hidden" name="meetingTime_id"  value="{{meetingTime.id}}">
        </div>
        <div class="form-group">
           <label for="day">Day</label>
           <select class="form-control" name="day">
            <option value="{{ meetingTime.day}}" >{{ meetingTime.day }}</option>
      
              <!--("Male","Male"),
        ("Female","Female")
                {% for course in courses %}
                    <option value="{{ course.id}}">{{ course.course_name }}</option>
                {% endfor %}-->
           </select>
        </div>
        <div class="form-group">
           <label for="room">Room</label>
           <select class="form-control" name="room">
                {% for room in rooms %}
                    <option value="{{ room.id}}"{% if room.id == meetingTime.room_id.id %} selected {% endif %} >{{ room.room_name }}</option>
                {% endfor %}
           </select>
        </div>
        <div class="form-group">
           <label for="subject">subject</label>
           <select class="form-control" name="subject">
                {% for subject in subjects %}
                    <option value="{{ subject.id }}" {% if subject.id == meetingTime.subject_id.id %} selected {% endif %}>{{ subject.subject_name }}</option>
                {% endfor %}
           </select>
        </div>
        <div class="form-group">
          {% if messages %}
               {% for message in messages %}
                    {% if message.tags == 'error' %}
                          <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
               {% endfor %}
          {% endif %}
        </div>
       <div class="form-button">
           <a href="##" class="btn btn-secondary">Cancel</a>
           <button type="submit" value="" class="btn btn-success float-right">Edit meeting time</button>
      </div>
    </form>
</div>

</div>
{% endblock main_content%}