
{% extends "AdminHodTemplates/base_template.html" %}
{% block page_title %}
notification
{% endblock page_title %}
{% block main_content %}
<div class="main" data-content id="LEAVE">
<h2> leave</h2>
  			<div class="sidebar_link">
  				<i class="fas fa-question"></i>
  				<a href="#">Request</a>
  			</div>
  			<div class="sidebar_link">
  				<i class="fas fa-sign-out"></i>
  				<a href="#">leave policy</a>
  			</div>
  			<div class="sidebar_link">
  				<i class="fas fa-calender-check-o"></i>
  				<a href="#">special day</a>
  			</div>
  			<div class="sidebar_link">
  				<i class="fas fa-files-o"></i>
  				<a href="#">Aply for leave</a>
  			</div>



        <li>
              <a>
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">student leave</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">staff leave</span>
              </a>
            </li>
</div>
{% endblock main_content%}