{% extends "AdminHodTemplates/base_template.html" %}
{% block page_title %}
stubject
{% endblock page_title %}
{% block main_content %}
<div class="main" data-content id="SUBJECT">
    <div class="card-header">
        <div class="">manage subject</div>
        <div class="">
            <a href="/Addsubject" >Add subject</a>
            <a href="/admin_home" >home</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="">subject details</div>
            <form class="search">
                <input type="" class="search-input" name="" placeholder="search student">
                <i class="fas fa-search"></i>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                 <table width="100%">
                     <thead>
                        <tr>
                            <td>Id</td>
                            <td>subject name</td>
                            <td>Course name</td>
                            <td>course id</td>
                            <td>staff name</td>
                            <td>action</td>
                        </tr>
                     </thead>
                     <tbody>
                         {% for subject in subjects %}
                         <tr>
                             <td>{{ subject.id }}</td>
                             <td>{{subject.subject_name}}</td>
                             <td>{{ subject.course_id.course_name }}</td>
                             <td>{{ subject.course_id.id}}</td>
                             <td>{{subject.staff_id.first_name}} {{subject.staff_id.last_name}}</td>
                             <td><a href="/Editsubject/{{subject.id}}" class="btn btn-success">Edit subject</a></td>
                         </tr>
                         {% endfor %}
                      </tbody>
                 </table>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}